body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/*Container*/
.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;
  border: 0;
  background-color: #e5e5e5;
}

/* Intro */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/intro.jpg") center no-repeat;
  background-size: cover;
}
.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;

  text-align: center;
}
.intro__title {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 60px auto;

  background-color: #fff;
}

.intro__subtitle {
  margin-bottom: 20px;
  margin-top: 100px;
  font-size: 58px;
  color: #fff;
  font-family: "Kaushan Script", cursive;
}

/*Header*/
.header {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

/*Nav*/

.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  position: relative;
  color: #fff;
  text-decoration: none;

  transition: color 0.2s linear;
}
.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  display: none;

  background-color: #fce38a;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.nav__link:hover {
  color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
  display: block;
}

.nav__link.active {
  color: #fce38a;
}
/*Button*/

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;

  border: 3px solid #fff;

  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  transition: background 0.1s linear color 0.1s linear;
}

.btn:hover {
  background-color: #fff;
  color: #ffcc99;
}

/*SLider*/

.slider {
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
}
.slider__item {
  width: 23%;
  padding: 20px 0;
  position: relative;

  border-top: 3px solid #fff;
  opacity: 0.7;

  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.slider__item.active {
  opacity: 1;
}

.slider__item.active::before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;

  background-color: #f38181;

  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
}

.slider__num {
  font-size: 24px;
  font-weight: 700;
}

/*Section*/

.section {
  padding: 80px 0;
}

.section--devices {
  margin-bottom: 40px;
  padding-bottom: 0;
  background: url("../images/devices-bg.jpg") center no-repeat;
  background-size: cover;
}

.section--gray {
  background-color: #f8f8f8;
}

.section--clients {
  background: url(../images/clients-bg.jpg) center no-repeat;
  background-size: cover;
}

.section--map {
  background: url(../images/map-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 40px 0;
}

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;
  text-align: center;
}

.section__subtitle {
  color: #333;
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
}

.section__title {
  color: #333;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 30px auto;
  background-color: #f38181;
}

.section__text {
  font-size: 15px;
  color: #999;
}

/*Card*/

.card {
  margin-top: 80px -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__item {
  width: 33.33333%;
  padding: 0 15px;
}

.card__inner {
  background-color: #95e1d3;
  position: relative;
}

.card__item:hover .card__text {
  opacity: 1;
}

.card__item:hover .card__img {
  transform: translate3d(-10px, -10px, 0);
}

.card__item:hover .card__img img {
  opacity: 0.1;
}

.card__img {
  background: linear-gradient(to bottom, #f38181, #fce38a);

  transition: transform 0.1s linear;
}

.card__img img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: opacity 0.2s linear;
}

.card__text {
  width: 100%;
  font-size: 18pz;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  transition: opacity 0.2s linear;
}

.card__info {
  margin-top: 20px;
  text-align: center;
}

.card__name {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  color: #333;
}

.card__prof {
  color: #999;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}

/*Statistics*/

.statistics {
  background-color: #95e1d3;
}

.stat {
  display: flex;
}

.stat__item {
  flex: 1 1 0;
  padding: 70px 25px;
  border-left: 1px solid #b5eae0;
  text-align: center;
  color: #fff;
}

.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}

.stat__count {
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}

/* Services */

.services {
  display: flex;
}

.services__items {
  flex: 1 1 0;

  padding-left: 90px;
  padding-right: 10px;
  position: relative;
}

.services__icon {
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 1;
}
.services__title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.services__text {
  text-align: left;
  font-size: 15px;
  color: #999;
}

/*Devices*/

.devices {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.devices__item {
  display: block;
}

.devices__item--iphone {
  position: absolute;
  bottom: -80px;
  right: 0;
  z-index: 1;
}

/*We do*/

.wedo {
  display: flex;
}

.wedo__item {
  width: 50%;
}

/* Accordion */

.accordion__item {
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
}

.accordion__item.active .accordion__content {
  display: block;
}

.accordion__item.active .accordion__header {
  border-bottom-color: #e5e5e5;
}

.accordion__item.active .accordion__header:after {
  transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px;
}

.accordion__header {
  padding: 15px 20px 15px 65px;
  position: relative;

  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.accordion__header:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;

  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;

  transform: translateY(-50%) rotate(135deg);
}

.accordion__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;

  transform: translateY(-50%);
}

.accordion__content {
  padding: 15px 20px;
  display: none;

  font-size: 15px;
  color: #999;
  font-style: italic;
  font-weight: 300;
}

.accordion__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

/*Reviews*/

.reviews {
  padding: 0 110px;
  position: relative;
}

.reviews__item {
  padding-left: 205px;
  position: relative;
  padding-left: 255px;
}

.reviews__photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: 2px solid #95e1d3;
  border-radius: 50%;
}

.reviews__text {
  color: #999;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 15px;
}

.reviews__author {
  color: #333;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
}

.reviews__author:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;
  background-color: #f38181;
}

.reviews__btn {
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.reviews__btn:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 3px solid #ccc;
  border-left: 3px solid #ccc;
  top: 50%;
  right: 20px;
  z-index: 1;
}
.reviews__btn--prev {
  left: 0;
  transform: rotate(-45deg);
}

.reviews__btn--next {
  right: 0;
  transform: rotate(135deg);
}

/*Social*/
.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 55px;
  height: 55px;
  padding: 12px 10px;
  background-color: #fce38a;
  border-right: 1px solid #f38181;
  font-size: 30px;
  line-height: 1;
  text-decoration: none;
  color: #f38181;
  transition: background 0.1s linear, color 0.1s linear;
}

.social__item:last-child {
  border-right: 0;
}

.social__item:hover {
  color: #fff;
  background-color: #f38181;
}

/*Logos*/

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Works*/

.works {
  display: flex;
}

.works__col {
  flex: 1 1 0;
}

.works__item {
  position: relative;

  background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__image {
  opacity: 0.1;
}

.works__item:hover .works__info {
  opacity: 1;
}

.works__image {
  display: block;
  max-width: 100%;
  height: auto;

  transition: opacity 0.2s linear;
}

.works__info {
  width: 100%;
  padding: 0 15px;

  text-align: center;
  color: #fff;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  transform: translate3d(0, -50%, 0);
  transition: opacity 0.2s linear;
}

.works__title {
  margin-bottom: 5px;

  font-size: 14px;
  text-transform: uppercase;
}

.works__text {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

/*Clients*/

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}

.clients__item {
  width: 50%;
  padding: 0 45px 0 175px;
  position: relative;
  margin-bottom: 60px;
}

.clients__photo {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 1;
}

.clients__name {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.clients__prof {
  font-size: 15px;
  color: #333;
  font-weight: 300;
  font-style: italic;
}

.clients__text {
  font-size: 15px;
  color: #999;
}

.clients__text:before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 15px 0;
  background-color: #f38181;
}

/*Blog*/

.blog {
  display: flex;
  justify-content: space-between;
}

.blog__item {
  width: 31%;
}

.blog__header {
  position: relative;
  margin-bottom: 14px;
}

.blog__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.blog__date {
  position: absolute;
  font-size: 15px;
  font-style: italic;
  color: #fff;
  bottom: 10px;
  left: -10px;
  z-index: 1;
  background-color: #95e1d3;
  padding: 10px 20px;
  font-weight: 300;
}

.blog__date-day {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  font-style: normal;
}

.blog__content {
  margin-bottom: 10px;
}

.blog__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.blog__title a {
  color: inherit;
  text-decoration: none;
}

.blog__title a:hover {
  text-decoration: underline;
}

.blog__text {
  font-size: 15px;
  color: #999;
}

.blog__footer {
  border-top: 1px solid #e5e5e5;
  padding-top: 14px;
  color: #999;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

.blog-stat__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

/*Map*/

.map {
  text-align: center;
}

.map__title {
  color: #f38181;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.map__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 15px auto 0;
  background-color: #f38181;
}

.map__title a {
  color: inherit;
  text-decoration: none;
}

.map__title a:hover {
  text-decoration: underline;
}

.footer {
  padding-top: 65px;
  background-color: #f8f8f8;
}

.footer__inner {
  padding-bottom: 65px;
  display: flex;
  justify-content: space-between;
}

.footer__col--first {
  width: 40%;
}

.footer__col--second {
  width: 29%;
}

.footer__col--third {
  width: 22%;
}

.footer_logo {
  font-size: 45px;
  font-weight: 700;
  color: #ccc;
  margin-bottom: 30px;
}

.footer__text {
  font-size: 15px;
  color: #999;
  margin-bottom: 30px;
}

.footer__social {
  margin-bottom: 25px;
}

.footer__social-header {
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
}

.footer__social-header b {
  font-size: 18px;
}

.footer__social-content {
  padding-top: 15px;
  font-size: 15px;
  color: #999;
  font-style: italic;
  font-weight: 300;
}

.footer__social-content a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 18px;
  color: #95e1d3;
  text-decoration: none;
}

.footer__title {
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  margin: 30px 0;
}

/*Blogs*/
.blogs__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.blogs__img {
  width: 120px;
  height: 80px;
}

.blogs__content {
  padding-left: 20px;
}

.blogs__title {
  display: block;
  margin-bottom: 5px;

  color: #333;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}

.blogs__title:hover {
  text-decoration: underline;
}

.blogs__date {
  font-size: 13px;
  color: #999;
  font-style: italic;
  font-weight: 300;
}

/*Posts*/
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.posts__item {
  width: 32.333333%;
  border-bottom: 1px solid #fff;
}

.posts__item img {
  display: block;
}

/*Subscribe*/

.subscribe {
  width: 100%;
  max-width: 380px;
  display: flex;
}

.subscribe__input {
  width: 60%;
  height: 40px;
  border-right: 0;
  background: #fff;
  border: 1px solid #e7e7e7;
  font-size: 15px;
  font-style: italic;
  color: #333;
  font-weight: 300;
  padding: 12px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1;
}

.subscribe__input::placeholder {
  color: #ccc;
}

.subscribe__input:focus {
  border-color: #95e1d3;
}

.subscribe__btn {
  width: 40%;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #95e1d3;
  border: none;
  cursor: pointer;
  padding: 12px 30px;
  line-height: 1.1;
  transition: background 0.2s linear;
}

.subscribe__btn:hover {
  background: #74c7b8;
}

.subscribe__btn:focus {
  outline: 0;
}

.copyright {
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  color: #333;
  font-size: 14px;
}

.copyright span {
  color: #f38181;
}

@media (max-width: 1230px) {
  /*Intro*/

  .intro__subtitle {
    font-size: 43px;
  }
  .intro__title {
    font-size: 80px;
  }
}

@media (max-width: 990px) {
  /*Intro*/

  .intro__subtitle {
    font-size: 32px;
  }
  .intro__title {
    font-size: 60px;
  }
}

@media (max-width: 770px) {
  /*Nav*/
  .nav {
    display: none;
  }

  /*Section*/

  .section {
    padding: 40px 0;
  }

  /*Card*/

  .card {
    margin-top: 50px;
    justify-content: center;
  }

  .card__item {
    width: 100%;
    max-width: 410px;
    margin-bottom: 30px;
  }
  .card__item:last-child {
    margin-bottom: 0;
  }

  /*Slider*/
  .slider__text {
    display: none;
  }

  .slider__item.active::before {
    width: 50%;
  }
}

@media (max-width: 575px) {
  /*Intro*/

  .intro__subtitle {
    font-size: 22px;
  }
  .intro__title {
    font-size: 40px;
  }

  /*Section*/

  .section__title {
    font-size: 24px;
  }

  .section__subtitle {
    font-size: 20px;
  }

  .section__title:after {
    margin: 20px auto;
  }

  .section__header {
    margin-bottom: 50px;
  }
}
